main{
    background-color: darkkhaki;
    width: 90%;
    margin-left: 5%;
}
main h1{
    text-align: center;
}
.img1{
    float: right;
}
.img2{
    height: 250px;
    width: 250px;
    float: left;
}